.card {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    
  }
  
  .card-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width:100%;
    
  
  
  }
  
  .card-content p {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  
  .card-content .label {
    font-weight: bold;
    margin-right: 0.5rem;
  }